name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Upload index.html to EC2
    - name: Upload index.html to EC2
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "index.html"
        target: "/home/ubuntu/"

    # SSH to EC2 and move file to Apache
    - name: Deploy on EC2
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo apt update -y
          sudo apt install apache2 -y

          sudo mv /home/ubuntu/index.html /var/www/html/index.html
          sudo chown www-data:www-data /var/www/html/index.html
          sudo chmod 644 /var/www/html/index.html

          sudo systemctl restart apache2

          echo "Deployment successful!"
